* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ここからヘッダー */
header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}
.heading {
  width: 1024px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
h1 {
  margin: auto 0; padding: 0;
}
a {
  text-decoration: none;
  color: #FAFAFA;
}
nav {
  margin: 0 0 0 auto;ー
}
ul {
  list-style: none;
  margin: 0;
  display: flex;
}
li {
  padding: 0 30px;
  font-size: 16px;
}

/* ここからメインビジュアル */
#main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: 100% 100%;
}
.visual-title {
  font-size: 64px;
  color: #FAFAFA;
  text-align: center;
  padding: 200px 0 10px 0;
}
.visual-text {
  font-size: 20px;
  color: #FAFAFA;
  text-align: center;
}

/* ここからメイン */
main {
  height: 100%;
  width: 100%;
}
/* ここからポートフォリオ */
#portfolio {
  height: 100%;
  width: 100%;
  background-color: #ECEFF1;
}
.portfolio-content {
  height: 100%;
  width: 920px;
  padding: 90px 0 90px 0;
  margin: 0 auto;
  text-align: center;
}
.main-title {
  font-size: 32px;
  color: #000000;
  padding: 0 0 8px 0;
  position: relative;
  display: inline-block;
}
.main-title::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  display: inline-block;
  width: 70px;
  height: 3px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #EC715F;
}
.main-text {
  font-size: 16px;
  color: #000000;
  margin: 30px 0;
}
.portfolio-box1 {
  display: flex;
}
.portfolio-box1 > img {
  width: 33%;
  margin: 0 5px 5px 5px;
}
.portfolio-box2 {
  display: flex;
}
.portfolio-box2 > img {
  width: 33%;
  margin: 5px 5px 0 5px;
}

/* ここからフィーチャー */
#feature {
  height: 100%;
  width: 100%;
}
.feature-content {
  height: 100%;
  width: 980px;
  padding: 90px 0 90px 0;
  margin: 0 auto;
  text-align: center;
}
.strength-box {
  display: flex;
}
.strength-box > .strength-item {
  width: 33%;
  margin: 0 10px 0px 0px;
  width: 320px;
  height: auto;
}
.strength-box > .strength-item-last {
  width: 33%;
  width: 320px;
  height: auto;
}
.fa-tv, .fa-cogs,
.fa-code {
  font-size: 60px;
}
.strength-title {
  font-size: 20px;
  color: #000000;
  margin: 10px 0;
}
.strength-text {
  font-size: 16px;
  color: #000000;
}
<i class="fas fa-code"></i>

footer {
  width: 100%;
  height: 60px;
  background-color: #EC715F;
}